name: Merge M3U Sources

on:
  workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install deps
      run: pip install requests

    - name: Merge playlists
      run: python merge_sources.py

    - name: Commit result
      run: |
        git config user.name github-actions
        git config user.email actions@github.com
        git add merged_from_sources.m3u
        git commit -m "update merged m3u from sources" || echo "No changes"
        git push
