name: Update IPTV M3U

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

permissions:
  contents: write   # ← السطر المهم ده

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Generate final.m3u
      run: |
        sed "s/{USERNAME}/${{ secrets.USER }}/g; s/{PASSWORD}/${{ secrets.PASS }}/g" base.m3u > final.m3u

    - name: Commit file
      run: |
        git config user.name github-actions
        git config user.email actions@github.com
        git add final.m3u
        git commit -m "update m3u" || echo "No changes"
        git push
